.overlay-dark-grey {
	h4, p {
		color: darken(white, 50%);
	}
}
.overlay-light-grey { 
	h4, p {
		color: darken(white, 75%);
	}
}
.overlay-blue {
	h4, p {
		color: lighten(rgb(70, 130, 240), 25%);
	}
}
.overlay-purple {
	h4, p {
		color: lighten(rgb(115, 70, 180), 25%);
	}
}
.overlay-green {
	h4, p {
		color: lighten(rgb(80, 160, 50), 25%);
	}
}
html {
	text-shadow: 0px 1px 1px rgba(0,0,0,0.5);
}
svg {
	-webkit-filter: drop-shadow( 0px 1px 1px rgba(0,0,0,0.5) );
            filter: drop-shadow( 0px 1px 1px rgba(0,0,0,0.5) );
}
#about {

}
#expertise {

}
#latest {

}
#code {

}
#design {

}
#contact {
	
}