.comments {
	overflow: hidden;
	li {
		float: left;
		img {
			float: left;
			margin-right: 8px;
		}
		.username {
			font-weight: bold;
			float: left;
			margin-right: 8px;
			margin-bottom: 8px;
		}
		.time-stamp {
			margin-bottom: 8px;
		}
		.comment, .reply {
			margin-left: 72px;
		}
		.reply {
			margin-bottom: 16px;
		}
		.comment {
			margin-bottom: 8px;
		}
	}
	ul ul {
		padding-left: 72px;
	}
}