.progress {
  height: 1em;
  background: rgba(white, 0.2);
  border-radius: $border-radius;
  overflow: hidden;
  display: flex;
  align-items: center;
  padding: 0 4px;
  .progress-inner {
    background: $gold;
    height: 50%;
    position: relative;
    border-radius: $border-radius;
    &:after {
      content: "";
      top: 50%;
      right: 0;
      bottom: 0;
      width: 8px;
      height: 150%;
      transform: translateY(-50%);
      position: absolute;
      border-radius: $border-radius;
      background: white;
      box-shadow: $shadow;
    }
  }
}
