.padding {
  padding: $spacing;
}
.padding-top {
  padding-top: $spacing;
}
.padding-bottom {
  padding-bottom: $spacing;
}
.padding-left {
  padding-left: $spacing;
}
.padding-right {
  padding-right: $spacing;
}
.padding-top-double {
  padding-top: $spacing-double;
}
.padding-bottom-double {
  padding-bottom: $spacing-double;
}
.padding-left-double {
  padding-left: $spacing-double;
}
.padding-right-double {
  padding-right: $spacing-double;
}
.margin-0 {
  margin: 0 !important;
}
@for $i from 1 through 10 {
  .padding-#{$i} {
    padding: $spacing * $i;
  }
  .padding-top-#{$i} {
    padding-top: $spacing * $i;
  }
  .padding-bottom-#{$i} {
    padding-bottom: $spacing * $i;
  }
  .padding-left-#{$i} {
    padding-left: $spacing * $i;
  }
  .padding-right-#{$i} {
    padding-right: $spacing * $i;
  }
}
