.tags {
	overflow: hidden;
	li {
		float: left;
		margin-bottom: 4px;
		margin-right: 4px;
		a {
			padding: 0px 8px;
			line-height: 22px;
			height: 24px;
			background: darken($white, 10%);
			border: 1px solid darken($white, 20%);
			border-radius: 4px;
		}
	}
}